<!DOCTYPE html>
{% load static %}
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ModerElectronic</title>

    <!-- IMPORTACIONES DE CSS Y MAS -->
    {% include 'menus/importaciones.html' %}
</head>

<body
    class="home wp-singular page-template page-template-elementor_header_footer page page-id-2 wp-theme-hello-elementor elementor-default elementor-template-full-width elementor-kit-7 elementor-page elementor-page-2">


    <!-- BARRA DE NAVECACION -->
    {% include 'menus/topBar.html' %}

    <div data-elementor-type="wp-page" data-elementor-id="2" class="elementor elementor-2">

        <section
            class="elementor-section elementor-top-section elementor-element elementor-section-full_width elementor-section-height-default elementor-section-height-default"
            data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5c81575"
                    data-id="5c81575" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">


                        <!-- TITULO DE CATEGORIAS sobre cartas -->

                        {% include 'menus/titulo.html' %}

                        {% block contenido %}
                        {% endblock %}

                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- FOOTER MAIN -->
    {% include 'menus/footer.html' %}

    <!-- JS BS5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>

</html>