{% load static %}
<div class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support  mt-auto">
    <div data-elementor-type="wp-post" data-elementor-id="42" class="elementor elementor-42">
        <!-- FOOTER -->
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-2acb5be elementor-section-full_width elementor-section-height-default elementor-section-height-default"
            data-id="2acb5be" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5549c3d"
                    data-id="5549c3d" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">

                        <!-- CONTENIDO SECCION INFERIOR -->
                        <section
                            class="elementor-section elementor-inner-section elementor-element elementor-element-0faee8d elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                            data-id="0faee8d" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-no">
                                <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-3c77f8c"
                                    data-id="3c77f8c" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-6b03aac elementor-widget elementor-widget-image"
                                            data-id="6b03aac" data-element_type="widget"
                                            data-widget_type="image.default">
                                            <!-- MINI LOGO del footer -->
                                            <div class="elementor-widget-container">
                                                <img width="146" height="54" src="{% static 'img/LOGO_MAIN.png' %}"
                                                    class="attachment-full size-full wp-image-50" alt=""
                                                    loading="lazy" />
                                            </div>
                                        </div>
                                        <!-- TEXTO FINAL DEBAJO DEL LOGO
                                        <div class="elementor-element elementor-element-c01c453 elementor-widget elementor-widget-text-editor"
                                            data-id="c01c453" data-element_type="widget"
                                            data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Linares, Chile | contacto@moderelectronic.cl </div>
                                        </div> -->

                                    </div>
                                </div>

                                <!-- BARRA DE OPCIONES ZONA INFERIOR puntos de interez -->
                                <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-b6e5491"
                                    data-id="b6e5491" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-1808ce5 elementor-widget elementor-widget-heading"
                                            data-id="1808ce5" data-element_type="widget"
                                            data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h4 class="elementor-heading-title elementor-size-default">PUNTOS DE
                                                    INTEREZ
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-60154a1 elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                            data-id="60154a1" data-element_type="widget"
                                            data-widget_type="icon-list.default">
                                            <div class="elementor-widget-container">
                                                <link rel="stylesheet"
                                                    href="https://elementor.altdesain.com/nftku/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">
                                                <ul class="elementor-icon-list-items">
                                                    <li class="elementor-icon-list-item">
                                                        <a href="#">

                                                            <span class="elementor-icon-list-icon">
                                                                <i aria-hidden="true" class="fas fa-angle-right"></i>
                                                            </span>
                                                            <span class="elementor-icon-list-text">Sobre
                                                                nosotros</span>
                                                        </a>
                                                    </li>
                                                    <li class="elementor-icon-list-item">
                                                        <a href="#">

                                                            <span class="elementor-icon-list-icon">
                                                                <i aria-hidden="true" class="fas fa-angle-right"></i>
                                                            </span>
                                                            <span class="elementor-icon-list-text">Politicas</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- BARRA DE OPCIONES ZONA INFERIOR redes sociales -->
                                <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-f3ab6fc"
                                    data-id="f3ab6fc" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-ff48d39 elementor-widget elementor-widget-heading"
                                            data-id="ff48d39" data-element_type="widget"
                                            data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h4 class="elementor-heading-title elementor-size-default">REDES
                                                    SOCIALES
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-59d6544 elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                            data-id="59d6544" data-element_type="widget"
                                            data-widget_type="icon-list.default">
                                            <div class="elementor-widget-container">
                                                <ul class="elementor-icon-list-items">
                                                    <li class="elementor-icon-list-item">
                                                        <a href="#">

                                                            <span class="elementor-icon-list-icon">
                                                                <i aria-hidden="true" class="fas fa-angle-right"></i>
                                                            </span>
                                                            <span class="elementor-icon-list-text">Instagram</span>
                                                        </a>
                                                    </li>
                                                    <li class="elementor-icon-list-item">
                                                        <a href="#">

                                                            <span class="elementor-icon-list-icon">
                                                                <i aria-hidden="true" class="fas fa-angle-right"></i>
                                                            </span>
                                                            <span class="elementor-icon-list-text">Facebook</span>
                                                        </a>
                                                    </li>
                                                    <li class="elementor-icon-list-item">
                                                        <a href="#">

                                                            <span class="elementor-icon-list-icon">
                                                                <i aria-hidden="true" class="fas fa-angle-right"></i>
                                                            </span>
                                                            <span class="elementor-icon-list-text">WhatsApp</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section
                            class="elementor-section elementor-inner-section elementor-element elementor-element-2ef4c16 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="2ef4c16" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-no">
                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-3133649"
                                    data-id="3133649" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-c4a8387 elementor-widget elementor-widget-text-editor"
                                            data-id="c4a8387" data-element_type="widget"
                                            data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                &copy; 2025 ModerElectronic. Todos los derechos reservados. </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>