<section
    class="elementor-section elementor-inner-section elementor-element elementor-element-591c579 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="591c579" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-bdb8cb1"
            data-id="bdb8cb1" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-baa6d4f elementor-widget elementor-widget-elementskit-heading"
                    data-id="baa6d4f" data-element_type="widget" data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div
                                class="ekit-heading elementskit-section-title-wraper text_center   ekit_heading_tablet-   ekit_heading_mobile-">
                                <h2 class="ekit-heading--title elementskit-section-title ">
                                    Contamos con una gran variedad de categorias</h2>
                                <div class='ekit-heading__description'>
                                    <p>Productos para cada tipo de personas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

