<!DOCTYPE html>
{% load static %}
<html lang="es-CL">

<!-- °=============================° -->
<!--    °Index -> Base               -->
<!-- °=============================° -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {% block titulo %} SECCION TITULO {% endblock %} | ModerElectronic</title>

    <!-- IMPORTACIONES DE CSS Y MAS -->
    {% include 'Importaciones/head_style.html' %}
</head>

<body
    class=" d-flex flex-column min-vh-100 home wp-singular page-template page-template-elementor_header_footer page page-id-2 wp-theme-hello-elementor elementor-default elementor-template-full-width elementor-kit-7 elementor-page elementor-page-2">

    <!-- BARRA DE NAVECACION -->
    {% include 'Menus/topBar.html' %}

    <main class="flex-grow-1">
        <div data-elementor-type="wp-page" data-elementor-id="2" class="elementor elementor-2">

            {% block carrusel_index %} {#BLOQUE EXCLUSIVO PARA EL HOME#} {% endblock %}

            <section
                class="elementor-section elementor-top-section elementor-element elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                data-element_type="section">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5c81575"
                        data-id="5c81575" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated justify-content-center">

                            {% comment %}
                            <!-- Bloque de mensajes -->
                            {% if messages %}
                            <div class="container mt-3">
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Cerrar"></button>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endcomment %}

                            <!-- Contenido central -->
                            {% block contenido %}
                            CONTENIDO CENTRAL DE LA PAGINA
                            {% endblock %}

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- FOOTER MAIN -->
    {% include 'Menus/footer.html' %}

    {% include 'Menus/complementos/modal_crear_cuenta.html' %}
    {% include 'Menus/complementos/modal_iniciar_sesion.html' %}

    <!-- IMPORTACIONES DE JS Y MAS -->
    {% include 'Importaciones/body_script.html' %}

</body>

</html>