{% extends 'Base/base_index.html' %}
{% load static %}

{% block titulo %} {{ producto.nombre }} | Detalle {% endblock %}

{% block contenido %}

<div class="container py-5">

    <div class="card-content px-4 py-2 rounded-3">
        <div class="mb-4">
            <h1 class="fw-bold mb-0">{{ producto.nombre }}</h1>
            <small class="text-muted">
                <a href="{% url 'catalogoProductos' %}" class="text-decoration-none">Catálogo</a> /
                <span>{{ producto.nombre }}</span>
            </small>
        </div>




        <div class="row gx-5">

            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="card p-4 shadow-sm border-0">

                    <div class="text-center" style="height: 500px;">
                        {% if producto.url_categoria %}
                        <img src="{{ producto.url_categoria }}" class="img-fluid h-100" style="object-fit: contain;"
                            alt="{{ producto.nombre }}">
                        {% else %}
                        <div
                            class="d-flex align-items-center justify-content-center h-100 bg-light rounded text-secondary">
                            <i class="fas fa-image fa-5x"></i>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="card p-4 shadow-sm border-0">

                    <h2 class="card-title fw-bold mb-2">{{ producto.nombre }}</h2>

                    <div class="d-flex align-items-center mb-3">

                        <span class="ms-2 text-muted small">Realizar calificacion</span>
                        <i class="fas fa-edit ms-3 text-secondary" data-bs-toggle="modal"
                            data-bs-target="#calificacionModal" style="cursor: pointer;"></i>
                    </div>

                    <h3 class="text-primary fw-bolder mb-3">${{ producto.precio }}</h3>

                    <hr>

                    <h5 class="fw-bold mb-3"><i class="fas fa-info-circle me-2 text-info"></i>Caracteristicas</h5>
                    <ul class="list-group list-group-flush mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <span class="fw-light">Categoría:</span>
                            <span class="fw-medium">{{ producto.nombre_categoria }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <span class="fw-light">Stock:</span>
                            {% if producto.stock > 0 %}
                            <span class="fw-medium text-success">{{ producto.stock }} unidades</span>
                            {% else %}
                            <span class="fw-medium text-danger">Agotado</span>
                            {% endif %}
                        </li>
                        {% comment %}
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <span class="fw-light">Garantía:</span>
                            <span class="fw-medium">{{ producto.garantia }}</span>
                        </li>
                        {% endcomment %}
                    </ul>

                    <div class="mt-auto pt-3 border-top">

                        {% if request.user.is_custom_admin or request.user.is_staff %}
                        <a href="{% url 'editarProducto' id_producto=producto.id %}"
                            class="btn btn-primary w-100 mb-2 text-light">
                            <i class="fas fa-edit me-1"></i> Modificar Producto
                        </a>

                        <a href="{% url 'eliminarProducto' id_producto=producto.id %}"
                            class="btn btn-danger w-100 mb-2 text-light"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar este producto? Esta acción es irreversible.');">
                            <i class="fas fa-trash-alt me-1"></i> Eliminar producto
                        </a>
                        {% endif %}

                        {% if request.user.is_client %}
                        {% if producto.stock > 0 %}
                        <a href="#" class="btn btn-success btn-lg w-100 mt-3 text-light">
                            <i class="fas fa-shopping-cart me-2"></i> Comprar producto
                        </a>
                        {% else %}
                        <button class="btn btn-secondary btn-lg w-100 mt-3 text-black disabled"><i
                                class="fas fa-shopping-cart me-2"></i>Comparar producto</button>
                        {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

    </div>




</div>

<div class="modal fade" id="calificacionModal" tabindex="-1" aria-labelledby="calificacionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="calificacionModalLabel">Añadir Calificación y Comentario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'agregarFeedback' id_producto=producto.id %}">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="mb-3 text-center">
                        <label class="form-label fw-bold">Tu Calificación:</label>
                        <div class="rating-stars">
                            <input type="radio" id="star5" name="{{ formCalificacion.cant_estrella.name }}"
                                value="5" /><label for="star5" title="5 estrellas">★</label>
                            <input type="radio" id="star4" name="{{ formCalificacion.cant_estrella.name }}"
                                value="4" /><label for="star4" title="4 estrellas">★</label>
                            <input type="radio" id="star3" name="{{ formCalificacion.cant_estrella.name }}"
                                value="3" /><label for="star3" title="3 estrellas">★</label>
                            <input type="radio" id="star2" name="{{ formCalificacion.cant_estrella.name }}"
                                value="2" /><label for="star2" title="2 estrellas">★</label>
                            <input type="radio" id="star1" name="{{ formCalificacion.cant_estrella.name }}"
                                value="1" /><label for="star1" title="1 estrella">★</label>

                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="{{ formComentario.comentario.id_for_label }}" class="form-label">Tu
                            Comentario:</label>
                        {{ formComentario.comentario }}
                        <small class="form-text text-muted">Máximo 255 caracteres.</small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Enviar Feedback</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}