{% extends 'Base/base_index.html' %}
{% load static %}

{% block titulo %} {{ producto.nombre }} | Detalle {% endblock %}

{% block contenido %}

<div class="container py-5">

    <div class="card-content px-4 py-2 rounded-3">

        <div class="row gx-5">

            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="card p-4 shadow-sm border-0">

                    <div class="text-center" style="height: 500px;">
                        {% if producto.url_categoria %}
                        <img src="{{ producto.url_categoria }}" class="img-fluid h-100" style="object-fit: contain;"
                            alt="{{ producto.nombre }}">
                        {% else %}
                        <div
                            class="d-flex align-items-center justify-content-center h-100 bg-light rounded text-secondary">
                            <i class="fas fa-image fa-5x"></i>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="card p-4 shadow-sm border-0">

                    <h2 class="card-title fw-bold txt-grey mb-2">{{ producto.nombre }}</h2>

                    {% if request.user.is_client %}

                    <div class="d-flex align-items-center mb-3">

                        <span class="ms-2 text-muted small">Realizar calificacion</span>
                        <i class="fas fa-edit ms-3 text-secondary" data-bs-toggle="modal"
                            data-bs-target="#calificacionModal" style="cursor: pointer;"></i>
                    </div>

                    {% else %}
                    {#No se muestra nada, opcion exclusiva del cliente#}

                    {% endif %}

                    <h3 class="text-primary fw-bolder mb-3">${{ producto.precio }}</h3>

                    <hr>

                    <h5 class="txt-grey mb-3"><i class="fas fa-info-circle me-2 "></i>Caracteristicas</h5>
                    <ul class="list-group list-group-flush mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <span class="text-black fw-bolder">Categoría:</span>
                            <span class="fw-medium">{{ producto.nombre_categoria }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <span class="text-black fw-bolder">Stock:</span>
                            {% if producto.stock > 0 %}
                            <span class="fw-medium text-success">{{ producto.stock }} unidades</span>
                            {% else %}
                            <span class="fw-medium text-danger">Agotado</span>
                            {% endif %}
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <span class="text-black fw-bolder">Garantía:</span>
                            <span class="txt-grey fw-light">{{ producto.garantia }}</span>
                        </li>

                    </ul>

                    <div class="mt-auto pt-3 border-top">

                        {% if request.user.is_custom_admin or request.user.is_staff %}
                        <a href="{% url 'editarProducto' id_producto=producto.id %}"
                            class="btn btn-primary w-100 mb-2 text-light">
                            <i class="fas fa-edit me-1"></i> Modificar Producto
                        </a>

                        <a href="{% url 'eliminarProducto' id_producto=producto.id %}"
                            class="btn btn-danger w-100 mb-2 text-light"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar este producto? Esta acción es irreversible.');">
                            <i class="fas fa-trash-alt me-1"></i> Eliminar producto
                        </a>
                        {% endif %}

                        {% if request.user.is_client %}
                        {% if producto.stock > 0 %}
                        <a href="#" class="btn btn-success btn-lg w-100 mt-3 text-light">
                            <i class="fas fa-shopping-cart me-2"></i> Comprar producto
                        </a>
                        {% else %}
                        <button class="btn btn-secondary btn-lg w-100 mt-3 text-black disabled"><i
                                class="fas fa-shopping-cart me-2"></i>Comparar producto</button>
                        {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

{% include 'Menus\complementos\modal_calificacion.html' %}


{% endblock %}