{% extends 'Base/base_index.html' %}

<!-- °============================================° -->
<!--    °Formulario -> Registro del administrador    -->
<!-- °============================================° -->

<!-- TITULO DE LA PAGINA WEB -->
{% block titulo %} ACCESO ADMINISTRADOR {% endblock %}

<!-- CONTENIDO DEL FORMULARIO DE REGISTRO -->
{% block contenido %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="p-5">
            <div class="text-center">
                <h1 class="mb-1">Iniciar Sesión</h1>
                <h4 class="barra_inferior text-light">Administrador</h4>
                <p class="text-warning small mt-2">Solo para personal autorizado.</p>
            </div>

            <form class="row g-3 user" method="post">
                {% csrf_token %}

                <!-- UserName -->
                <div class="col-12">
                    <label for="id_username" class="form-label color-label">Nombre de usuario</label>
                    <input type="text" class="form-control form-control-user" id="id_username" name="username"
                        placeholder="Ej. Junito" value="{{ form.username.value|default:'' }}" required
                        autofocus>
                </div>

                <!-- Contraseña -->
                <div class="col-12">
                    <label for="id_password" class="form-label color-label">Contraseña</label>
                    <input type="password" class="form-control form-control-user" id="id_password" name="password"
                        placeholder="Ej. x32rjks5df87" required autocomplete="current-password">
                </div>

                <div class="col-12 mt-4">
                    <button type="submit" class="btn btn-warning btn-user btn-block w-100 mb-2">Iniciar sesión</button>
                </div>
            </form>

            <hr class="mt-3">

            <div class="text-center mt-2">
                <a class="small" href="{% url 'password_reset' %}">¿Recuperar contraseña?</a>
            </div>
            <div class="text-center">
                <a class="small" href="{% url 'crearCuentaAdmin' %}">Crear cuenta</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

