<!DOCTYPE html>
{% load static %}
<html lang="es-CL">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="pingback" href="https://nvb.nirmanavisual.com/electromart/xmlrpc.php" />
 <title>ModerElectronic</title>

 {% include 'Menus/Importaciones/importaciones.html' %}
</head>

<body
class="home wp-singular page-template page-template-elementor_header_footer page page-id-2 wp-theme-hello-elementor elementor-default elementor-template-full-width elementor-kit-7 elementor-page elementor-page-2">


 {% include 'Menus/topBar.html' %}

<div data-elementor-type="wp-page" data-elementor-id="2" class="elementor elementor-2">


<div id="page" class="hfeed site">


 <div class="elementor-element elementor-element-f09b9e4 e-flex e-con-boxed e-con e-parent" data-id="f09b9e4" data-element_type="container">
<div class="e-con-inner">

<main id="content" class="site-main post-231 envato_tk_templates type-envato_tk_templates status-publish has-post-thumbnail hentry">

<div class="page-header">
 <h1 class="entry-title">Solicitud</h1> </div>
 <div class="page-content">
<div data-elementor-type="wp-post" data-elementor-id="231" class="elementor elementor-231">
<div class="elementor-element elementor-element-62adc0d e-flex e-con-boxed elementor-invisible e-con e-parent" data-id="62adc0d" data-element_type="container" data-settings="{&quot;animation&quot;:&quot;fadeInDown&quot;}">
 <div class="e-con-inner">
    <div class="elementor-element elementor-element-edee919 e-con-full e-flex e-con e-child" data-id="edee919" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-element elementor-element-33b3037 elementor-widget elementor-widget-heading" data-id="33b3037" data-element_type="widget" data-widget_type="heading.default">
         <h2 class="elementor-heading-title elementor-size-default">Solicitud</h2> </div>
 </div>
 </div>
 </div>
 <div class="elementor-element elementor-element-619cf389 e-flex e-con-boxed e-con e-parent" data-id="619cf389" data-element_type="container">
                    <div class="e-con-inner">
                 <div class="elementor-element elementor-element-515a74aa elementor-invisible elementor-widget elementor-widget-heading" data-id="515a74aa" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-widget_type="heading.default">
                             </div>
        <div class="elementor-element elementor-element-7e871a97 e-con-full e-flex e-con e-child" data-id="7e871a97" data-element_type="container">
         <div class="elementor-element elementor-element-48e1c6c8 e-con-full e-flex e-con e-child" data-id="48e1c6c8" data-element_type="container">
         <div class="elementor-element elementor-element-7fbeb37d e-flex e-con-boxed elementor-invisible e-con e-child" data-id="7fbeb37d" data-element_type="container" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
                 <div class="e-con-inner">
                     <div class="elementor-element elementor-element-a847bd9 elementor-widget elementor-widget-image-box" data-id="a847bd9" data-element_type="widget" data-widget_type="image-box.default">
                    <div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Direccion</h3><p class="elementor-image-box-description">Avenida San Miguel 3496</p></div></div> </div>
                 <div class="elementor-element elementor-element-6d16764a elementor-widget elementor-widget-image-box" data-id="6d16764a" data-element_type="widget" data-widget_type="image-box.default">
                        <div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Telefono</h3><p class="elementor-image-box-description">(105) 115-2920</p></div></div> </div>
                 <div class="elementor-element elementor-element-75fcc15a elementor-widget elementor-widget-image-box" data-id="75fcc15a" data-element_type="widget" data-widget_type="image-box.default">
                        <div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">correo</h3><p class="elementor-image-box-description">moderelectronic9@gmail.com</p></div></div></div>
                     <div class="elementor-element elementor-element-2072a4a elementor-shape-circle elementor-grid-0 e-grid-align-center elementor-widget elementor-widget-social-icons" data-id="2072a4a" data-element_type="widget" data-widget_type="social-icons.default">
            <div class="elementor-social-icons-wrapper elementor-grid" role="list">
         <span class="elementor-grid-item" role="listitem">
 </div>
                     </div>
                     </div>
                 </div>
         <div class="elementor-element elementor-element-1a476609 e-flex e-con-boxed elementor-invisible e-con e-child" data-id="1a476609" data-element_type="container" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
                 <div class="e-con-inner">
         <div class="elementor-element elementor-element-a847bd9 elementor-widget elementor-widget-image-box" data-id="a847bd9" data-element_type="widget" data-widget_type="image-box.default"></div>
         <p >Aquí podrás agregar la solicitud relacionada con el producto seleccionado.</p>
 
                <div class="elementor-element elementor-element-60d2a07f elementor-widget elementor-widget-metform" data-id="60d2a07f" data-element_type="widget" data-widget_type="metform.default">
                     <div id="mf-response-props-id-309" data-previous-steps-style="" data-editswitchopen="" data-response_type="alert" data-erroricon="fas fa-exclamation-triangle" data-successicon="fas fa-check" data-messageposition="top" class="   mf-scroll-top-no">
             <div class="formpicker_warper formpicker_warper_editable" data-metform-formpicker-key="309" >
 <div class="mf-widget-container">
</div>
        </div>
        </div> </div>
 </div>
                </div>
                </div>
 <div class="elementor-element elementor-element-7f22ad95 e-flex e-con-boxed elementor-invisible e-con e-child" data-id="7f22ad95" data-element_type="container" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
 <div class="e-con-inner">
 <div class="elementor-element elementor-element-58c5e61 elementor-widget elementor-widget-metform" data-id="58c5e61" data-element_type="widget" data-widget_type="metform.default">
 
                    <form method="POST" action="{% url 'RegisterSolicitudName' id_producto %}" class="metform-form-content">
                        {% csrf_token %}

                        <div class="metform-form-main-wrapper" key="hide-form-after-submit">
                            <div data-elementor-type="wp-post" key="2" data-elementor-id="316" class="elementor elementor-316">
                                <div class="elementor-element elementor-element-9a64fc1 e-flex e-con-boxed e-con e-parent" data-id="9a64fc1" data-element_type="container">
                                    <div class="e-con-inner">

                                        <div class="elementor-element elementor-element-de5b0e5 e-con-full e-flex e-con e-child" data-id="de5b0e5" data-element_type="container">
                                            <div class="elementor-element elementor-element-0ad728f elementor-widget__width-inherit elementor-widget elementor-widget-mf-textarea" data-id="0ad728f" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-textarea&quot;}" data-widget_type="mf-textarea.default">
                                                <div class="mf-input-wrapper">
                                                    <label class="mf-input-label" for="id_descripcion">
                                                        Descripción <span class="mf-input-required-indicator">*</span>
                                                    </label>
                                                    <textarea 
                                                        class="mf-input mf-textarea" 
                                                        id="id_descripcion" 
                                                        name="descripcion" 
                                                        placeholder="Deje la descripción de su solicitud" 
                                                        cols="30" 
                                                        rows="10" 
                                                        required></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="elementor-element elementor-element-9b163bb e-con-full e-flex e-con e-child" data-id="9b163bb" data-element_type="container">
                                            <div class="elementor-element elementor-element-59b29f3 mf-btn--center elementor-widget elementor-widget-mf-button" data-id="59b29f3" data-element_type="widget" data-widget_type="mf-button.default">
                                                <div class="mf-btn-wraper">
                                                    <button type="submit" class="metform-btn metform-submit-btn" id="">
                                                        <span>Enviar</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                     </div>

</main>

 </div>


{% include 'Menus/footer.html' %}

{% include 'Menus/Importaciones_script_solicitud.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
 crossorigin="anonymous"></script>

</body>

</html>

