{% extends 'Base/base_index.html' %}
{% load static %}

<!-- °============================================° -->
<!--    °Formulario -> Registro de Solicitudes      -->
<!-- °============================================° -->

{% block titulo %} REGISTRO DE SOLICITUDES {% endblock %}

{% block contenido %}

<div class="container py-5">

    <div class="card shadow-lg p-4">
        <h2 class="fw-light text-dark mb-3 text-center">Solicitud de una compra</h2>
        <p class="text-muted text-center">Reporta un problema con tu producto adquirido.</p>

        <div class="row mb-4 justify-content-center">
            <div class="col-md-4 border-effect mx-3 my-2 text-justify-content-between">
                <h4 class="fw-light text-dark">Cliente</h4>
                <p class="ms-2 text-dark"> <strong>Nombre: </strong>{{ request.user.username }}</p>
                <p class="ms-2 text-dark"> <strong>Correo: </strong>{{ request.user.email }}</p>
                <p class="ms-2 text-dark"> <strong>Direccion: </strong>{{ request.user.direccion }}</p>
            </div>

            <div class="col-md-4 border-effect mx-3 my-2 text-justify-content-between">
                <h4 class="fw-light text-dark">Producto asociado</h4>
                <p class="ms-2 text-dark"> <strong>Nombre: </strong>{{ RegistroCompra.producto.nombre }}</p>
                <p class="ms-2 text-dark"> <strong>ID compra: </strong>{{ RegistroCompra.id }}</p>
            </div>
        </div>

        <form method="POST" action="{% url 'registrarSolicitud' registro_id %}">
            {% csrf_token %}

            <label for="id_descripcion" class="fw-light text-dark fs-3 mb-1">Describe el problema</label>
            {{ formSolicitudKey.descripcion }}

            {% if formSolicitudKey.descripcion.errors %}
                <div class="text-danger small mt-1">{{ formSolicitudKey.descripcion.errors }}</div>
            {% endif %}

            <button class="btn btn-effect-modal2 bg-info w-100 mt-4" type="submit">
                Enviar Solicitud
            </button>
        </form>

    </div>
</div>

{% endblock %}
