

/* SEPARACION DE MARGENES DE NAV */

.elementor-element-e41c8cd {
    padding-top: 5px !important; /* Ajusta este valor */
    padding-bottom: 5px !important; /* Ajusta este valor */
}

.ekit-template-content-header {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}








/* ESTILOS DE BOTONES */

.btn-effect{
  background-color: transparent !important;
  /* color: snow !important; */
  border: 3px solid #FF3D00 !important;
  position: relative !important;
}

.btn-effect::after {
  content: "" !important;
  position: absolute !important;
  width: 0 !important;
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
  background-color: #b3320b !important;
  transition: width 0.4s ease !important;
  z-index: -1 !important;
}

.btn-effect:hover::after {
  width: 100% !important;
}

.btn-effect:hover {
  color: snow !important;
}



/* Offcanvas EN PANTALLAS PEQUEÑAS */

.offcanvas.offcanvas-end,
.offcanvas {
  background-color: rgba(12, 11, 45, 0.95) !important;
  color: #ffffff;
}

.offcanvas .btn-close {
  filter: invert(1) grayscale(1) !important;
  opacity: 0.9;
}

.elementskit-menu-overlay,
.offcanvas-backdrop {
  z-index: 1050;
}

.offcanvas a.nav-link,
.offcanvas .btn-effect,
.offcanvas .navbar-brand,
.offcanvas .ekit-btn {
  color: #ffffff !important;
}