/* IMPORTACION DE LETRAS DESDE GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lilita+One&family=Patua+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titan+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

/* SEPARACION DE MARGENES DE NAV */

.elementor-element-e41c8cd {
  padding-top: 5px !important; /* Ajusta este valor */
  padding-bottom: 5px !important; /* Ajusta este valor */
}

.ekit-template-content-header {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* ESTILOS DE BOTONES */

.btn-effect {
  font-family: "Roboto", sans-serif !important;
  color: snow !important;
  font-weight: 900 !important;
  background-color: transparent !important;
  border: 3px solid #ff3d00 !important;
  position: relative !important;
}

.btn-effect::after {
  content: "" !important;
  position: absolute !important;
  width: 0 !important;
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
  background-color: #b3320b !important;
  transition: width 0.4s ease !important;
  z-index: -1 !important;
}

.btn-effect:hover::after {
  width: 100% !important;
}

.btn-effect:hover {
  color: snow !important;
}

/* BOTONES HEADER */

.navbar-nav .nav-item .nav-link.btn-effect-head {
  background: transparent;
  padding: 0;
  border: 0;
  display: inline-block;
  text-decoration: none;
  position: relative;
  z-index: 2;
  color: inherit;
}

.navbar-nav .nav-item .nav-link.btn-effect-head .linktext {
  font-size: 1.3rem;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #ffffff;
  text-decoration: none;
  font-family: "Winky Rough", sans-serif;
  text-transform: uppercase;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  display: inline-block;
  padding: 10px 8px;
}

.navbar-nav .nav-item .nav-link.btn-effect-head .linktext::before {
  display: inline-block;
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  top: calc(100% - 6px);
  left: 50%;
  transition: all 0.3s ease-in-out;
  transition-delay: 0s;
  opacity: 1;
  background: #ff6a06;
  max-width: 0%;
  overflow: hidden;
  transform: translateX(-50%);
}

.navbar-nav .nav-item {
  display: inline-block;
  margin: 0 25px 20px 25px;
  vertical-align: top;
}

.navbar-nav .nav-item .nav-link.btn-effect-head:hover .linktext,
.navbar-nav .nav-item .nav-link.btn-effect-head:focus .linktext {
  transform: rotateY(360deg) scale(1.3);
  -webkit-transform: rotateY(360deg) scale(1.3);
  color: #fda56b;
}

.navbar-nav .nav-item .nav-link.btn-effect-head:hover .linktext::before,
.navbar-nav .nav-item .nav-link.btn-effect-head:focus .linktext::before {
  transition-delay: 0.3s;
  max-width: 100%;
  left: 0%;
  transform: none;
}

/* Offcanvas EN PANTALLAS PEQUEÑAS */

.offcanvas.offcanvas-end,
.offcanvas {
  background-color: rgba(12, 11, 45, 0.95) !important;
  color: #ffffff;
}

.offcanvas .btn-close {
  filter: invert(1) grayscale(1) !important;
  opacity: 0.9;
}

.elementskit-menu-overlay,
.offcanvas-backdrop {
  z-index: 1050;
}

.offcanvas a.nav-link,
.offcanvas .btn-effect,
.offcanvas .navbar-brand,
.offcanvas .ekit-btn {
  color: #ffffff !important;
}

/* BG Y TXT DEL MODAL */
div.modal-content {
  background-color: rgba(12, 11, 45, 0.95) !important;
  color: #ffffff !important;
}

/* BOTON (X) DEL MODAL */
.modal-content {
  position: relative !important;
}

.modal-close-custom {
  position: absolute !important;
  top: 1rem !important;
  right: 0.5rem !important;
  width: 38px !important;
  height: 40px !important;
  background: transparent;
  border: none !important;
  padding: 0.25rem !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  z-index: 1 !important;
}

.modal-close-custom {
  font-size: 1.5rem !important;
  color: #333 !important;
}

/* BOTONES INFERIORES MODAL */

.btn-effect-modal {
  font-family: "Roboto", sans-serif !important;
  color: snow !important;
  font-weight: 700 !important;
  background-color: transparent !important;
  border: 3px solid #00ffdd !important;
  position: relative !important;
}




.card-title {
  font-weight: bold !important;
}

.card-text {
  font-size: 0 !important;
  }