{% extends 'usuario/base_log_sign.html' %}

{% block contenido %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Crear cuenta</h1>
            </div>

            <form class="user" method="post" novalidate>
                {% csrf_token %}

                {# errores no relacionados con campos #}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="text-danger small">{{ form.username.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="text-danger small">{{ form.email.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.nombre.label_tag }}
                    {{ form.nombre }}
                    {% if form.nombre.errors %}
                        <div class="text-danger small">{{ form.nombre.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.direccion.label_tag }}
                    {{ form.direccion }}
                    {% if form.direccion.errors %}
                        <div class="text-danger small">{{ form.direccion.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.billetera.label_tag }}
                    {{ form.billetera }}
                    {% if form.billetera.errors %}
                        <div class="text-danger small">{{ form.billetera.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="text-danger small">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="text-danger small">{{ form.password2.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block">Crear cuenta</button>
            </form>

            <hr>

            <h4> Consideraciones para el registro </h4>

            <span class="helptext" id="id_password1_helptext">El nombre de usuario debe tener únicamente letras, dígitos y @/./+/-/_</span>

            <span class="helptext" id="id_password2_helptext">La contraseña debe cumplir estos elementos</span>
            <ul>
                <li>No puede asemejarse tanto a su otra información personal.</li>
                <li>Debe contener al menos 8 caracteres.</li>
                <li>No puede ser una clave utilizada comúnmente.</li>
                <li>No puede ser completamente numérica.</li>
            </ul>

            <hr>

            <div class="text-center">
                <a class="small" href="{% url 'iniciarSesion' %}">¿Tienes una cuenta? Inicia sesión</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}