{% extends 'base_index.html' %}

{% block titulo %} INICIAR SESIÓN {% endblock %}

{% block contenido %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">¡Bienvenido al login!</h1>
            </div>

            <form class="user" method="post" novalidate>
                {% csrf_token %}

                {# errores no relacionados con campos #}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="text-danger small">{{ form.username.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class="text-danger small">{{ form.password.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="remember">
                        <label class="custom-control-label" for="customCheck">Recordar sesión</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block">Iniciar sesión</button>
            </form>

            <hr>

            <div class="text-center">
                <a class="small" href="{% url 'password_reset' %}">¿Recuperar contraseña?</a>
            </div>
            <div class="text-center">
                <a class="small" href="{% url 'crearCuenta' %}">Crear cuenta</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}