{% extends 'Base/base_index.html' %}


{% block titulo %} MI PERFIL {% endblock %}




{% block contenido %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Información de {{ usuario_perfil.username }}</h6>
    </div>
    <div class="card-body">
        <p><strong>Nombre de Usuario:</strong> {{ usuario_perfil.username }}</p>
        <p><strong>Email:</strong> {{ usuario_perfil.email }}</p>
        <p><strong>Dirección:</strong> {{ usuario_perfil.direccion }}</p>
        <p><strong>Rol:</strong>
            <span class="badge {% if usuario_perfil.rol == 'admin' %}badge-danger{% else %}badge-success{% endif %}">
                {{ usuario_perfil.get_rol_display }}
            </span>
        </p>
        <p><strong>Billetera:</strong> ${{ usuario_perfil.billetera|floatformat:2 }}</p>

        <a href="{% url 'editarPerfilUsuario' %}" class="btn btn-warning mt-3">Editar Perfil</a>
        <form method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mt-3">Cerrar Sesión</button>
        </form>
        <a href="{% url 'homeGeneral' %}" class="btn btn-warning mt-3">Volver al home</a>
    </div>
</div>
{% endblock %}