
{% extends 'Base/base_modal.html' %}

<!-- °=============================° -->
<!--    °Modal -> Inicio de sesión   -->
<!-- °=============================° -->

<!-- IDs DEL MODAL -->
<!-- NOTA: Todas las ID deben ir sin espacios en blanco, por que estan dentro de tags -->
{% block id_modal %}modalLogin{% endblock %}
{% block label_modal %}modalLoginLabel{% endblock %}
{% block label_modal2 %}modalLoginLabel{% endblock %}

<!-- BLOCKs de contenidos -->

{% block titulo_modal %} ¿Que tipo de usuario es? {% endblock %}

{% block contenido_modal %}
<p>Escoge una de las opciones disponibles.</p>
{% endblock %}


{% block botones_modal %}
<a class="btn btn-effect-modal" href="{% url 'iniciarSesionCliente' %}">Ingresar como cliente</a>
<a class="btn btn-effect-modal" href="{% url 'iniciarSesionAdmin' %}">Ingresar como administrador</a>
{% endblock %}

