<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Que tipo de usuario eres?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Escoge una de las opciones disponibles.</p>
                <p><strong>IMPORTANTE:</strong></p>
                <p>Los administradores requieren validacion adicional</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-info">Cliente</button>
                <a href="{% url 'crearCuenta' %}">Clie</a>
                <a href="{% url 'crearCuentaAdmin' %}">Admin</a>
                <button type="button" class="btn btn-info">Cliente</button>
                <button type="button" class="btn btn-primary">Administrador</button>
            </div>
        </div>
    </div>
</div>