{% extends 'Base/base_modal.html' %}

<!-- °=============================° -->
<!--    °Modal -> Crear cuenta   -->
<!-- °=============================° -->

<!-- IDs DEL MODAL -->
<!-- NOTA: Todas las ID deben ir sin espacios en blanco, por que estan dentro de tags -->
<!-- NOTA: Los bloques label_modal y label_modal2 deben tener el mismo contenido dentro  -->
{% block id_modal %}modalCrear{% endblock %}
{% block label_modal %}modalCrearLabel{% endblock %}
{% block label_modal2 %}modalCrearLabel{% endblock %}

<!-- BLOCKs de contenidos -->

{% block titulo_modal %} ¿Que tipo de usuario es? {% endblock %}

{% block contenido_modal %}
<p>Escoge una de las opciones disponibles.</p>
<p><strong>IMPORTANTE:</strong></p>
<p>Los administradores requieren una validacion adicional para su registro</p>
{% endblock %}


{% block botones_modal %}
<a class="btn btn-effect-modal" href="{% url 'crearCuentaCliente' %}">Cliente</a>
<a class="btn btn-effect-modal" href="{% url 'crearCuentaAdmin' %}">Administrador</a>
{% endblock %}
